
# tutorial builds
/tutorials/build/
/tutorials/debugging_tutorial_with_gdb_and_asan/build/

# util builds
/utils/build/
/utils/logging_util/original_stand_alone_logging_util/build/
/utils/string_util/original_ascii_string_util/build/

# file explorer astetics
.C_icon.png
.directory

